<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621463436077-a1nf6f0nj2ddrj05qd5tr5pnbca51agv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621463436077-a1nf6f0nj2ddrj05qd5tr5pnbca51agv</string>
	<key>API_KEY</key>
	<string>AIzaSyCsVOeXZA0QuRlyKIpOMCJuQb9BcmnWDqw</string>
	<key>GCM_SENDER_ID</key>
	<string>621463436077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pit01gp07</string>
	<key>PROJECT_ID</key>
	<string>pit01gp07-c4ff3</string>
	<key>STORAGE_BUCKET</key>
	<string>pit01gp07-c4ff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621463436077:ios:e04c0168c01e0f010fb1a4</string>
</dict>
</plist>